* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
  }
  span {
    color: brown;
    font-size: 35px;
  }
  
  .card {
    padding: 2px;
  }
  